# Service runtime environment variables
# Edit the host ports or default database server as needed for your workstation.

NGINX_WEB_HOST_PORT=8080
HTTPBIN_HOST_PORT=8081
WHOAMI_HOST_PORT=8082
ADMINER_HOST_PORT=8083
ADMINER_DEFAULT_SERVER=postgresql
